.feature-card {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(30%, 600px);
}

.feature-icon {
    border: 10px solid #00bc77;
    width: 5.5rem;
    border-radius: 50%;
    padding: 1.5rem;
}

.feature-title {
    color: #222;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.feature-desc {
    margin-top: 6px;
}
