@import '../../index.css';

.error-wrapper {
    margin: auto;
}

.error-title {
    font-size: 8rem;
    margin-bottom: 2.5rem;
}

.error-subtitle {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.error-text {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.error-backhome {
    color: var(--main-text-color);
}
