@import '../../index.css';

.transaction-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 60px;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: var(--main-color-green);
    color: white;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.transaction-info {
    text-align: left;
}

.transaction-cta {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-details {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
}

.detail-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 60px;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem 0;
}

.detail-label {
    font-weight: 200;
    text-align: left;
    opacity: 0.9;
}

.detail-value {
    text-align: left;
}

.edit-btn {
    margin-left: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.note-input {
    font-size: 14px;
    padding: 3px 2px;
}

.note-input:focus {
    outline: none;
}
