@import '../../index.css';

header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.logo {
    margin-left: 1.5rem;
    width: 250px;
}

.header-user-log {
    display: flex;
    align-items: center;
}

.header-signin {
    margin-right: 2rem;
    display: flex;
    gap: 4px;
    text-decoration: none;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
}

.header-signin-btn {
    font-size: 1rem;
    background: none;
    border: none;
    color: var(--main-text-color);
    cursor: pointer;
}

.header-username {
    color: var(--main-color-green);
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    font-size: 14px;
}
