.transactions-container {
    margin: 2.5rem auto;
}

.transactions-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 60px;
    gap: 2rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.header-title {
    text-align: left;
}

.header-title:first-child {
    margin-left: 1.5rem;
}

.header-title:nth-child(2) {
    margin-left: 1.5rem;
}

.header-title:last-child {
    text-align: center;
}

.transactions-list {
    margin-top: 1rem;
}
