:root {
    --main-text-color: #2c3e50;
}

html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--main-text-color);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
